#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.img {
  height: 100%;
  width: auto;
}

.img-wrapper {
  height: 150px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  input {
    position: absolute;
    visibility: hidden;
  }
}

.product-card {
  box-sizing: content-box;
  display: block;
  padding: 20px;
  border: 1px solid oklch(86.9% 0.005 56.366);
  border-radius: 10px;
  cursor: pointer;

  &:has(> input:checked) {
    border: 1px solid oklch(55.3% 0.013 58.071);
  }

  .product-detail {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.jc-center {
  justify-content: center;
}
.nutriscore {
  width: 100px;
}
.product-name {
  font-weight: 800;
  font-size: 15px;
}
