#root {
  width: 100%;
  margin: 0 auto;
  background-color: #fefdfb;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FEFDFC inset !important;
  -webkit-text-fill-color: inherit !important;
}
